{% extends 'academy_theme/base--wildewidgets.html' %}
{% load static %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'wildewidgets/css/wildewidgets.css' %}">
  <link rel="stylesheet" href="{% static 'wildewidgets/css/highlighting.css' %}">
  <link rel="stylesheet" href="{% static 'wildewidgets/css/table_extra.css' %}">
  <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'demo/css/model_search_select.css' %}">
{% endblock %}

{% block extra_header_js %}
  {{ block.super }}
  <script src="{% static 'wildewidgets/js/wildewidgets.js' %}"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>

  <script src="{% static 'demo/js/model_search_select.js' %}"></script>
  {% endblock %}
